			html, body{height: 100%;}
			*{ margin:0px;padding:0px;}
			#header{background-color:#20C20E;position:fixed;width:100%;min-width:880px;height:100px;top:0px;}
			#content{width:100%;min-width:880px;top:100px;height:auto;position:absolute;}
			#flow{width:70%;min-width:880px;top:100px;}
			#mobileflow{width:100%;min-width:880px;top:0px;position:absolute;background-color:radial-gradient(#ffffff, #e6e6e6, #cccccc);}
			#mobilefriends{width:100%;min-width:880px;top:0px;position:absolute;}
			#banner{top:250px;width:277px;height:690px;bottom:0px;overflow-y:hidden;overflow-x:hidden;position:fixed;right:0px;border:2px #20C20E solid;}
			#newusers{top:50px;width:277px;height:200px;overflow-y:hidden;overflow-x:hidden;position:fixed;right:0px;border:2px #20C20E solid;text-decoration:blink;text-align: center;}
			#post{float:left;background-color:#F8F8F8;min-width:500px;width:98%;height:auto;min-height:100px;border:2px #20C20E solid;margin:5px;position:relative;}
			#notdiv{float:left;background-color:#F8F8F8;width:97%;height:auto;border:2px #b4b4b4 solid;margin:5px;position:relative;}
			#searchfriendsdiv{background-color:#F8F8F8;width:100%;height:auto;min-height:160px;border:2px #20C20E solid;margin:5px;position:absolute;}
			#profile{width:100%;min-width:880px;top:0px;position:absolute;}
			#pitem2{background-color:#F8F8F8;min-width:640px;width:99%;height:auto;border:2px #20C20E solid;position:relative;}
			#profilebar{float:left;background-color:#F8F8F8;min-width:500px;width:99%;height:auto;min-height:50px;margin-top:10px;border:2px #20C20E solid;position:relative;}
			p1 {font-family:Arial;font-size:26px;font-weight:bold;color:#FFFFFF;}
			p2 {font-size:26px;font-weight:bold;}
			p3 {font-size:24px;font-weight:bold;color:#FFFFFF;}
			p4 {font-size:4vw;font-weight:bold;}
			p5 {/*font-size:24px;*/font-size:4vw;}
			p6 {/*font-size:22px;*/font-size:4vw;font-weight:bold;}
			p7 {/*font-size:20px;*/font-size:5vw;font-family:Arial;font-weight:bold;white-space:pre-wrap; word-wrap:break-word;}
			p8 {font-size:57px;font-family:Arial;font-weight:bold;color: blue;float:left;margin-top:5px;margin-left:10px;}
			p9 {/*font-size:32px;*/font-size:5vw;font-family:Arial;font-weight:bold;white-space:pre-wrap; word-wrap:break-word;}
			p10 {font-size:57px;font-family:Arial;font-weight:bold;color:#FFFFFF;float:left;margin-top:5px;margin-left:10px;}
			p11 {font-size:14px;}
			p12 {font-size:17px;}
			p13 {font-size:24px;}
			p14 {font-size:44px;font-weight:bold;}
			p15 {font-size:26px;color:#20C20E;}
			p20 {font-size:24px;font-weight:bold;color:#FFFFFF;}
			p21 {font-size:6vw;font-weight:bold;}
			h3 {font-size:25px;}
			.cbutton {
				box-shadow: 3px 4px 0px 0px #000000;
				background:linear-gradient(to bottom, #000000 5%, #20e20e 100%);
				background-color:#000000;
				border-radius:6px;
				border:1px solid #000000;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:20px;
				font-weight:bold;
				padding:12px 38px;
				text-decoration:none;
				text-shadow:0px 1px 0px #528ecc;
			}
			.cbutton:hover {
				background:linear-gradient(to bottom, #20e20e 5%, #000000 100%);
				background-color:#20e20e;
			}
			.cbutton:active {
				position:relative;
				top:1px;
			}
			.frbutton {
				box-shadow: 0px 1px 0px 0px #f0f7fa;
				background:linear-gradient(to bottom, #000000 5%, #20e20e 100%);
				background-color:#000000;
				border-radius:6px;
				border:1px solid #000000;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:20px;
				font-weight:bold;
				padding:12px 38px;
				text-decoration:none;
				text-shadow:0px -1px 0px #5b6178;
			}
			.frbutton:hover {
				background:linear-gradient(to bottom, #20e20e 5%, #000000 100%);
				background-color:#20e20e;
			}
			.frbutton:active {
				position:relative;
				top:1px;
			}
			.ufrbutton {
				box-shadow: 0px 1px 0px 0px #f0f7fa;
				background:linear-gradient(to bottom, #000000 5%, #ff0000 100%);
				background-color:#000000;
				border-radius:6px;
				border:1px solid #000000;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:20px;
				font-weight:bold;
				padding:12px 38px;
				text-decoration:none;
				text-shadow:0px -1px 0px #5b6178;
			}
			.ufrbutton:hover {
				background:linear-gradient(to bottom, #ff0000 5%, #000000 100%);
				background-color:#ff0000;
			}
			.ufrbutton:active {
				position:relative;
				top:1px;
			}
			.chatbutton{height:30px;font-size:20px;font-weight:bold;color:#FFFFFF;background-color:#20C20E;cursor:pointer;}
			#registration2{background-color:#F8F8F8;min-width:400px;width:50%;height:auto;min-height:260px;border:2px #20C20E solid;margin:5px;margin-top:50px;}
			#registration{min-width:400px;width:75%;height:auto;min-height:260px;position:relative;}
			#info{visibility:hidden;;min-width:400px;width:60%;height:0px;margin:5px;margin-top:50px;}
			#language{background-color:#F8F8F8;min-width:300px;width:30%;height:auto;min-height:260px;border:2px #20C20E solid;margin:5px;margin-top:50px;}
			select{height:30px;font-size:26px;font-weight:bold;border:1px black solid;}
			.ah3:link {color: #000000;text-decoration:none;}
			.ah3:visited {color: #000000;text-decoration:none;}
			.ah3:hover {color: blue;text-decoration:none;}
			.ah3:active {color: #000000;text-decoration:none;}
			.ah4:link {color: #FFFFFF;text-decoration:none;}
			.ah4:visited {color: #FFFFFF;text-decoration:none;}
			.ah4:hover {color: blue;text-decoration:none;}
			.ah4:active {color: #FFFFFF;text-decoration:none;}
			.notification{background-color:#000000;left:20px;bottom:50px;height:80%;top:100px;right:20px;position:fixed;border:2px #20C20E solid;visibility:hidden;overflow-y:scroll;}
			#mobilemessages{background-color:#000000;left:0px;bottom:0px;top:400px;right:0px;position:fixed;overflow-y:scroll;}
			#chatwindow{background-color:#b4b4b4;width:65%;height:65%;bottom:0px;right:17%;position:fixed;border:2px #000000 solid;visibility:hidden;overflow-y:hidden;overflow-x:hidden;}
			#emoji{background-color:#b4b4b4;width:15%;height:65%;bottom:0px;right:2%;position:fixed;border:2px #000000 solid;visibility:hidden;overflow-y:hidden;overflow-x:hidden;}
			.search{background-color:#b4b4b4;width:420px;height:600px;top:0px;left:60px;position:absolute;border:2px #000000 solid;visibility:hidden;overflow-y:scroll;}
			.vld{background-color:#000000;left:20px;bottom:50px;height:80%;top:100px;right:20px;position:fixed;border:2px #20C20E solid;visibility:hidden;overflow-y:scroll;}
			#vldcontent{background-color:#000000;width:100%;top:80px;bottom:0px;position:absolute;overflow-y:scroll;}
			​xmp{ white-space:pre-wrap; word-wrap:break-word; }
			#frequestcount{width:40px;height:20px;font-size:18px;font-weight:bold;color:red;background-color:transparent;float:right;margin-right:-40px;margin-top:30px;cursor:pointer;overflow:hidden;}
			#changeprofilepics{visibility:hidden;float:left;background-color:#F8F8F8;min-width:500px;width:99%;height:0px;margin-top:10px;border:2px #20C20E solid;position:relative;}
			#viewfriends{visibility:hidden;float:left;background-color:#F8F8F8;min-width:500px;width:99%;height:0px;margin-top:10px;border:2px #20C20E solid;position:relative;}
			#profilenots{float:left;background-color:#F8F8F8;min-width:500px;width:99%;height:auto;px;margin-top:10px;border:2px #20C20E solid;position:relative;}
			
			#pager{float:left;background-color:#F8F8F8;min-width:380px;width:98%;border:2px #20C20E solid;margin:5px;}
			#p-pager{float:left;min-width:380px;width:98%;margin:5px;}
			#article{float:left;background-color:#F8F8F8;min-width:380px;width:98%;height:auto;min-height:260px;border:2px #20C20E solid;margin:5px;}
			#footer{float:left;background-color:#005c99;color:#FFFFFF;font-weight:bold;width:100%;min-width:380px;left:0px;right:0px;border:1px #20C20E solid;}			
			.Scroll:link {color: #000000;font-family:Arial;font-size:40px;font-weight:bold;text-decoration:none;}
			.Scroll:visited {color: #000000;font-family:Arial;font-size:40px;font-weight:bold;text-decoration:none;}
			.Scroll:hover {color: #20C20E;font-family:Arial;font-size:40px;font-weight:bold;text-decoration:none;}
			.Scroll:active {color: #000000;font-family:Arial;font-size:40px;font-weight:bold;text-decoration:none;}			
			.ac:link {color: #20C20E;font-family:Arial;font-size:30px;font-weight:bold;text-decoration:none;}
			.ac:visited {color: #20C20E;font-family:Arial;font-size:30px;font-weight:bold;text-decoration:none;}
			.ac:hover {color: #00FF33;font-family:Arial;font-size:30px;font-weight:bold;text-decoration:none;}
			.ac:active {color: #20C20E;font-family:Arial;font-size:30px;font-weight:bold;text-decoration:none;}
			blink {
				-webkit-animation-name: blink; 
				-webkit-animation-iteration-count: infinite; 
				-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
				-webkit-animation-duration: 1s;
			}
			input[type=checkbox]
			{
			  /* Double-sized Checkboxes */
			  -ms-transform: scale(2); /* IE */
			  -moz-transform: scale(2); /* FF */
			  -webkit-transform: scale(2); /* Safari and Chrome */
			  -o-transform: scale(2); /* Opera */
			  transform: scale(2);
			  padding: 10px;
			}
			[type="file"]{
				height: 0;
				overflow: hidden;
				width: 0;
			}

			[type="file"] + label.btn-2{
				background: #f15d22;
				background-color: #20C20E;
				border: none;
				border-radius: 50px;
				overflow: hidden;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-family: 'Poppins', sans-serif;
				font-size: 4vw;
				font-weight: 600;
				margin-bottom: 1rem;
				outline: none;
				padding: 1rem 75px;
				position: relative;
				transition: all 0.3s;
				vertical-align: middle;
			}
			[type="file"] + label.btn-2::hover{
				background-color: darken(#f15d22, 10%);
			}
			[type="file"] + label.btn-2::before {
				color: #fff;
				content: "\f382";
				font-family: "Font Awesome 5 Pro";
				font-size: 100%;
				height: 100%;
				right: 130%;
				line-height: 3.3;
				position: absolute;
				top: 0px;
				transition: all 0.3s;
			}